html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
}

body::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Change the color and opacity as needed */
}
/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

/* full-sized  container that fills up the page */
#backgroundBody {
    height: 100%;
    width: 100%;
    background-image: url(../Img/forest.jpeg);
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
}

.tintOverlap {
    position:absolute;
    top:50%;
    transform: translate(50%,-50%);
    height: 50%;
    width: 50%;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

/*Anything related to top navigation bar is here*/
.topnav {
    overflow: hidden;
    /**background-color: rgba(0, 0, 0, 0.2);**/
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
    text-shadow:
    1px 1px 0 #585858,
    -1px 1px 0 #585858,
    -1px -1px 0 #585858,
    1px -1px 0 #585858;
  }
  
  .topnav a:hover {
    text-decoration: underline;
  }
  
  .topnav a.active {
    /*background-color: #04AA6D;*/
    text-decoration: underline;
    /**color: white;**/
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }